.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ZbLQHPqEo54R);
  min-width: 0;
  min-height: 0;
}
.appBar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.toolbar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.iconButton__uNgBa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 20px;
}
.icon__a12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.typography:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stack__dDqJq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tooltip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.iconButton__jMzF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 20px;
}
.icon___85GwD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.divider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.stack__akARr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.circularProgress:global(.__wab_instance) {
  object-fit: cover;
  margin: auto;
}
