@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-SnMGfsrTf: #ff0000;
  --plasmic-token-primary-main: var(--token-SnMGfsrTf);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-AaAEQF3pW20im_font-family: "Inter", sans-serif;
  --mixin-AaAEQF3pW20im_font-size: 16px;
  --mixin-AaAEQF3pW20im_font-weight: 400;
  --mixin-AaAEQF3pW20im_font-style: normal;
  --mixin-AaAEQF3pW20im_color: #535353;
  --mixin-AaAEQF3pW20im_text-align: left;
  --mixin-AaAEQF3pW20im_text-transform: none;
  --mixin-AaAEQF3pW20im_line-height: 1.5;
  --mixin-AaAEQF3pW20im_letter-spacing: normal;
  --mixin-AaAEQF3pW20im_white-space: pre-wrap;
  --mixin-AaAEQF3pW20im_user-select: text;
  --mixin-AaAEQF3pW20im_text-decoration-line: none;
  --mixin-AaAEQF3pW20im_text-overflow: clip;
  --mixin-aPWcjdxXwHGqM_color: #000000;
  --mixin-aPWcjdxXwHGqM_font-weight: 700;
  --mixin-aPWcjdxXwHGqM_font-size: 64px;
  --mixin-aPWcjdxXwHGqM_line-height: 1;
  --mixin-aPWcjdxXwHGqM_letter-spacing: -1px;
  --mixin-aPWcjdxXwHGqM_white-space: pre-wrap;
  --mixin-bMjtFMC23S1MJ_color: #000000;
  --mixin-bMjtFMC23S1MJ_font-size: 48px;
  --mixin-bMjtFMC23S1MJ_font-weight: 700;
  --mixin-bMjtFMC23S1MJ_letter-spacing: -0.5px;
  --mixin-bMjtFMC23S1MJ_line-height: 1.1;
  --mixin-bMjtFMC23S1MJ_white-space: pre-wrap;
  --mixin-7uXv0djYBebrg_color: #0070f3;
  --mixin-7uXv0djYBebrg_white-space: pre-wrap;
  --mixin-nsT999016RFjV_color: #000000;
  --mixin-nsT999016RFjV_font-size: 32px;
  --mixin-nsT999016RFjV_font-weight: 600;
  --mixin-nsT999016RFjV_line-height: 1.2;
  --mixin-nsT999016RFjV_white-space: pre-wrap;
  --mixin--nUlnBKJ-ZGlH_color: #000000;
  --mixin--nUlnBKJ-ZGlH_font-size: 24px;
  --mixin--nUlnBKJ-ZGlH_font-weight: 600;
  --mixin--nUlnBKJ-ZGlH_letter-spacing: -0.5px;
  --mixin--nUlnBKJ-ZGlH_line-height: 1.3;
  --mixin--nUlnBKJ-ZGlH_white-space: pre-wrap;
  --mixin-9Dx3mmDQV--QZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9Dx3mmDQV--QZ_border-bottom-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-bottom-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-bottom-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-left-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-left-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-left-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-right-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-right-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-right-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-top-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-top-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-top-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-bottom-left-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_border-bottom-right-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_border-top-left-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_border-top-right-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_font-family: "Inconsolata";
  --mixin-9Dx3mmDQV--QZ_padding-bottom: 1px;
  --mixin-9Dx3mmDQV--QZ_padding-left: 4px;
  --mixin-9Dx3mmDQV--QZ_padding-right: 4px;
  --mixin-9Dx3mmDQV--QZ_padding-top: 1px;
  --mixin-9Dx3mmDQV--QZ_white-space: pre-wrap;
  --mixin-ExpH7DmWwscpn_border-left-color: #dddddd;
  --mixin-ExpH7DmWwscpn_border-left-style: solid;
  --mixin-ExpH7DmWwscpn_border-left-width: 3px;
  --mixin-ExpH7DmWwscpn_color: #888888;
  --mixin-ExpH7DmWwscpn_padding-left: 10px;
  --mixin-ExpH7DmWwscpn_white-space: pre-wrap;
  --mixin-ByBFEEpx6CmcS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ByBFEEpx6CmcS_border-bottom-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-bottom-style: solid;
  --mixin-ByBFEEpx6CmcS_border-bottom-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-left-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-left-style: solid;
  --mixin-ByBFEEpx6CmcS_border-left-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-right-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-right-style: solid;
  --mixin-ByBFEEpx6CmcS_border-right-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-top-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-top-style: solid;
  --mixin-ByBFEEpx6CmcS_border-top-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-bottom-left-radius: 3px;
  --mixin-ByBFEEpx6CmcS_border-bottom-right-radius: 3px;
  --mixin-ByBFEEpx6CmcS_border-top-left-radius: 3px;
  --mixin-ByBFEEpx6CmcS_border-top-right-radius: 3px;
  --mixin-ByBFEEpx6CmcS_font-family: "Inconsolata";
  --mixin-ByBFEEpx6CmcS_padding-bottom: 3px;
  --mixin-ByBFEEpx6CmcS_padding-left: 6px;
  --mixin-ByBFEEpx6CmcS_padding-right: 6px;
  --mixin-ByBFEEpx6CmcS_padding-top: 3px;
  --mixin-ByBFEEpx6CmcS_white-space: pre-wrap;
  --mixin-yRj2WJ-FLOjQc_display: flex;
  --mixin-yRj2WJ-FLOjQc_flex-direction: column;
  --mixin-yRj2WJ-FLOjQc_align-items: stretch;
  --mixin-yRj2WJ-FLOjQc_justify-content: flex-start;
  --mixin-yRj2WJ-FLOjQc_list-style-position: outside;
  --mixin-yRj2WJ-FLOjQc_padding-left: 40px;
  --mixin-yRj2WJ-FLOjQc_position: relative;
  --mixin-yRj2WJ-FLOjQc_list-style-type: disc;
  --mixin-yRj2WJ-FLOjQc_white-space: pre-wrap;
  --mixin-JmynVzTtUZvWd_display: flex;
  --mixin-JmynVzTtUZvWd_flex-direction: column;
  --mixin-JmynVzTtUZvWd_align-items: stretch;
  --mixin-JmynVzTtUZvWd_justify-content: flex-start;
  --mixin-JmynVzTtUZvWd_list-style-position: outside;
  --mixin-JmynVzTtUZvWd_padding-left: 40px;
  --mixin-JmynVzTtUZvWd_position: relative;
  --mixin-JmynVzTtUZvWd_list-style-type: decimal;
  --mixin-JmynVzTtUZvWd_white-space: pre-wrap;
  --mixin-vKwu4_ycW8J41_color: #000000;
  --mixin-vKwu4_ycW8J41_font-size: 20px;
  --mixin-vKwu4_ycW8J41_font-weight: 600;
  --mixin-vKwu4_ycW8J41_letter-spacing: -0.3px;
  --mixin-vKwu4_ycW8J41_line-height: 1.5;
  --mixin-vKwu4_ycW8J41_white-space: pre-wrap;
  --mixin-r0W7sWUpVVWV5_color: #000000;
  --mixin-r0W7sWUpVVWV5_font-size: 16px;
  --mixin-r0W7sWUpVVWV5_font-weight: 600;
  --mixin-r0W7sWUpVVWV5_line-height: 1.5;
  --mixin-r0W7sWUpVVWV5_white-space: pre-wrap;
  --mixin-WcrsmoqEQBYPo_color: #3291ff;
  --mixin-WcrsmoqEQBYPo_white-space: pre-wrap;
  --mixin-rBteNYDt82Dhm_white-space: pre-wrap;
  --mixin-1D6hhln6iRwY3_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-AaAEQF3pW20im_font-family);
  font-size: var(--mixin-AaAEQF3pW20im_font-size);
  font-weight: var(--mixin-AaAEQF3pW20im_font-weight);
  font-style: var(--mixin-AaAEQF3pW20im_font-style);
  color: var(--mixin-AaAEQF3pW20im_color);
  text-align: var(--mixin-AaAEQF3pW20im_text-align);
  text-transform: var(--mixin-AaAEQF3pW20im_text-transform);
  line-height: var(--mixin-AaAEQF3pW20im_line-height);
  letter-spacing: var(--mixin-AaAEQF3pW20im_letter-spacing);
  white-space: var(--mixin-AaAEQF3pW20im_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-aPWcjdxXwHGqM_color);
  font-weight: var(--mixin-aPWcjdxXwHGqM_font-weight);
  font-size: var(--mixin-aPWcjdxXwHGqM_font-size);
  line-height: var(--mixin-aPWcjdxXwHGqM_line-height);
  letter-spacing: var(--mixin-aPWcjdxXwHGqM_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-bMjtFMC23S1MJ_color);
  font-size: var(--mixin-bMjtFMC23S1MJ_font-size);
  font-weight: var(--mixin-bMjtFMC23S1MJ_font-weight);
  letter-spacing: var(--mixin-bMjtFMC23S1MJ_letter-spacing);
  line-height: var(--mixin-bMjtFMC23S1MJ_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-7uXv0djYBebrg_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-nsT999016RFjV_color);
  font-size: var(--mixin-nsT999016RFjV_font-size);
  font-weight: var(--mixin-nsT999016RFjV_font-weight);
  line-height: var(--mixin-nsT999016RFjV_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--nUlnBKJ-ZGlH_color);
  font-size: var(--mixin--nUlnBKJ-ZGlH_font-size);
  font-weight: var(--mixin--nUlnBKJ-ZGlH_font-weight);
  letter-spacing: var(--mixin--nUlnBKJ-ZGlH_letter-spacing);
  line-height: var(--mixin--nUlnBKJ-ZGlH_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9Dx3mmDQV--QZ_font-family);
  border-radius: var(--mixin-9Dx3mmDQV--QZ_border-top-left-radius)
    var(--mixin-9Dx3mmDQV--QZ_border-top-right-radius)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-right-radius)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-left-radius);
  padding: var(--mixin-9Dx3mmDQV--QZ_padding-top)
    var(--mixin-9Dx3mmDQV--QZ_padding-right)
    var(--mixin-9Dx3mmDQV--QZ_padding-bottom)
    var(--mixin-9Dx3mmDQV--QZ_padding-left);
  border-top: var(--mixin-9Dx3mmDQV--QZ_border-top-width)
    var(--mixin-9Dx3mmDQV--QZ_border-top-style)
    var(--mixin-9Dx3mmDQV--QZ_border-top-color);
  border-right: var(--mixin-9Dx3mmDQV--QZ_border-right-width)
    var(--mixin-9Dx3mmDQV--QZ_border-right-style)
    var(--mixin-9Dx3mmDQV--QZ_border-right-color);
  border-bottom: var(--mixin-9Dx3mmDQV--QZ_border-bottom-width)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-style)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-color);
  border-left: var(--mixin-9Dx3mmDQV--QZ_border-left-width)
    var(--mixin-9Dx3mmDQV--QZ_border-left-style)
    var(--mixin-9Dx3mmDQV--QZ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ExpH7DmWwscpn_color);
  padding-left: var(--mixin-ExpH7DmWwscpn_padding-left);
  border-left: var(--mixin-ExpH7DmWwscpn_border-left-width)
    var(--mixin-ExpH7DmWwscpn_border-left-style)
    var(--mixin-ExpH7DmWwscpn_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ByBFEEpx6CmcS_font-family);
  border-radius: var(--mixin-ByBFEEpx6CmcS_border-top-left-radius)
    var(--mixin-ByBFEEpx6CmcS_border-top-right-radius)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-right-radius)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-left-radius);
  padding: var(--mixin-ByBFEEpx6CmcS_padding-top)
    var(--mixin-ByBFEEpx6CmcS_padding-right)
    var(--mixin-ByBFEEpx6CmcS_padding-bottom)
    var(--mixin-ByBFEEpx6CmcS_padding-left);
  border-top: var(--mixin-ByBFEEpx6CmcS_border-top-width)
    var(--mixin-ByBFEEpx6CmcS_border-top-style)
    var(--mixin-ByBFEEpx6CmcS_border-top-color);
  border-right: var(--mixin-ByBFEEpx6CmcS_border-right-width)
    var(--mixin-ByBFEEpx6CmcS_border-right-style)
    var(--mixin-ByBFEEpx6CmcS_border-right-color);
  border-bottom: var(--mixin-ByBFEEpx6CmcS_border-bottom-width)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-style)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-color);
  border-left: var(--mixin-ByBFEEpx6CmcS_border-left-width)
    var(--mixin-ByBFEEpx6CmcS_border-left-style)
    var(--mixin-ByBFEEpx6CmcS_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-yRj2WJ-FLOjQc_display);
  flex-direction: var(--mixin-yRj2WJ-FLOjQc_flex-direction);
  align-items: var(--mixin-yRj2WJ-FLOjQc_align-items);
  justify-content: var(--mixin-yRj2WJ-FLOjQc_justify-content);
  list-style-position: var(--mixin-yRj2WJ-FLOjQc_list-style-position);
  padding-left: var(--mixin-yRj2WJ-FLOjQc_padding-left);
  position: var(--mixin-yRj2WJ-FLOjQc_position);
  list-style-type: var(--mixin-yRj2WJ-FLOjQc_list-style-type);
  flex-column-gap: var(--mixin-yRj2WJ-FLOjQc_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JmynVzTtUZvWd_display);
  flex-direction: var(--mixin-JmynVzTtUZvWd_flex-direction);
  align-items: var(--mixin-JmynVzTtUZvWd_align-items);
  justify-content: var(--mixin-JmynVzTtUZvWd_justify-content);
  list-style-position: var(--mixin-JmynVzTtUZvWd_list-style-position);
  padding-left: var(--mixin-JmynVzTtUZvWd_padding-left);
  position: var(--mixin-JmynVzTtUZvWd_position);
  list-style-type: var(--mixin-JmynVzTtUZvWd_list-style-type);
  flex-column-gap: var(--mixin-JmynVzTtUZvWd_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-vKwu4_ycW8J41_color);
  font-size: var(--mixin-vKwu4_ycW8J41_font-size);
  font-weight: var(--mixin-vKwu4_ycW8J41_font-weight);
  letter-spacing: var(--mixin-vKwu4_ycW8J41_letter-spacing);
  line-height: var(--mixin-vKwu4_ycW8J41_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-r0W7sWUpVVWV5_color);
  font-size: var(--mixin-r0W7sWUpVVWV5_font-size);
  font-weight: var(--mixin-r0W7sWUpVVWV5_font-weight);
  line-height: var(--mixin-r0W7sWUpVVWV5_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-WcrsmoqEQBYPo_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
