@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-0aMjepqHWWLy: rgba(249, 115, 22);
  --plasmic-token-primary-main: var(--token-0aMjepqHWWLy);
  --token-FOP1DPVexeMa: rgba(253, 186, 116);
  --plasmic-token-primary-light: var(--token-FOP1DPVexeMa);
  --token-R2lY1Xjkp4lA: rgba(234, 88, 12);
  --plasmic-token-primary-dark: var(--token-R2lY1Xjkp4lA);
  --token-ziuscLmicFXe: rgba(255, 255, 255);
  --plasmic-token-primary-contrast-text: var(--token-ziuscLmicFXe);
  --token-BWD1Yypu0aZD: rgba(107, 114, 128);
  --plasmic-token-secondary-main: var(--token-BWD1Yypu0aZD);
  --token-W2GQ4PZaI2pT: rgba(209, 213, 219);
  --plasmic-token-secondary-light: var(--token-W2GQ4PZaI2pT);
  --token-WWh2o7Esiasu: rgba(75, 85, 99);
  --plasmic-token-secondary-dark: var(--token-WWh2o7Esiasu);
  --token-z6Q_N7U60XrM: rgba(255, 255, 255);
  --plasmic-token-secondary-contrast-text: var(--token-z6Q_N7U60XrM);
  --token-jbF4TL09IBeH: rgba(229, 231, 235);
  --plasmic-token-divider: var(--token-jbF4TL09IBeH);
  --token-iA5edeH1o4kp: rgba(17, 24, 39);
  --plasmic-token-common-black: var(--token-iA5edeH1o4kp);
  --token-tS-3Q--LpOW-: #fff;
  --plasmic-token-common-white: var(--token-tS-3Q--LpOW-);
  --token-XDKYii4tKUSa: rgba(239, 68, 68);
  --plasmic-token-error-main: var(--token-XDKYii4tKUSa);
  --token-kj4T3mW7ioLl: rgba(252, 165, 165);
  --plasmic-token-error-light: var(--token-kj4T3mW7ioLl);
  --token-f8DqppXsJHpc: rgba(220, 38, 38);
  --plasmic-token-error-dark: var(--token-f8DqppXsJHpc);
  --token-WyRLwVVpMjDk: rgba(255, 255, 255);
  --plasmic-token-error-contrast-text: var(--token-WyRLwVVpMjDk);
  --token-URDYL87AkRTL: rgba(255, 195, 0);
  --plasmic-token-warning-main: var(--token-URDYL87AkRTL);
  --token-yUcrD57ri2b0: rgba(255, 215, 67);
  --plasmic-token-warning-light: var(--token-yUcrD57ri2b0);
  --token-ry_-WwDi9c7S: rgba(255, 181, 0);
  --plasmic-token-warning-dark: var(--token-ry_-WwDi9c7S);
  --token-3aOhcL-ph-ER: rgba(255, 255, 255);
  --plasmic-token-warning-contrast-text: var(--token-3aOhcL-ph-ER);
  --token-Wwfl9yCL5PFm: rgba(59, 130, 246);
  --plasmic-token-info-main: var(--token-Wwfl9yCL5PFm);
  --token-3CbGsTzt-PpB: rgba(147, 197, 253);
  --plasmic-token-info-light: var(--token-3CbGsTzt-PpB);
  --token-k2K9I4cJdr5c: rgba(37, 99, 235);
  --plasmic-token-info-dark: var(--token-k2K9I4cJdr5c);
  --token-uuCDFguZP_Ny: rgba(255, 255, 255);
  --plasmic-token-info-contrast-text: var(--token-uuCDFguZP_Ny);
  --token-FX5fhncmgNs4: rgba(34, 197, 94);
  --plasmic-token-success-main: var(--token-FX5fhncmgNs4);
  --token-4bAOSr3q2RZc: rgba(134, 239, 172);
  --plasmic-token-success-light: var(--token-4bAOSr3q2RZc);
  --token-veZU5bZunkWr: rgba(22, 163, 74);
  --plasmic-token-success-dark: var(--token-veZU5bZunkWr);
  --token-9XszJpXoTJiq: rgba(255, 255, 255);
  --plasmic-token-success-contrast-text: var(--token-9XszJpXoTJiq);
  --token-ay7Zteu6sjm5: #fafafa;
  --plasmic-token-grey-50: var(--token-ay7Zteu6sjm5);
  --token-qIWmC_PFQGtB: #f5f5f5;
  --plasmic-token-grey-100: var(--token-qIWmC_PFQGtB);
  --token-eQHgC35XUKoe: #eeeeee;
  --plasmic-token-grey-200: var(--token-eQHgC35XUKoe);
  --token-ttWi-yFfZ8ZQ: #e0e0e0;
  --plasmic-token-grey-300: var(--token-ttWi-yFfZ8ZQ);
  --token-wtug9fseNcQv: #bdbdbd;
  --plasmic-token-grey-400: var(--token-wtug9fseNcQv);
  --token-CKK8_N0PBzGR: #9e9e9e;
  --plasmic-token-grey-500: var(--token-CKK8_N0PBzGR);
  --token-42G9kEh2Q2Mz: #757575;
  --plasmic-token-grey-600: var(--token-42G9kEh2Q2Mz);
  --token-I4Vi50Fpz-ie: #616161;
  --plasmic-token-grey-700: var(--token-I4Vi50Fpz-ie);
  --token-DbCwDbkgUTJA: #424242;
  --plasmic-token-grey-800: var(--token-DbCwDbkgUTJA);
  --token-ZW1_nua3y893: #212121;
  --plasmic-token-grey-900: var(--token-ZW1_nua3y893);
  --token-UhoALOSzJL_G: #f5f5f5;
  --plasmic-token-grey-a-100: var(--token-UhoALOSzJL_G);
  --token-dXubi2vxdy1_: #eeeeee;
  --plasmic-token-grey-a-200: var(--token-dXubi2vxdy1_);
  --token-aNi5fDShaK4a: #bdbdbd;
  --plasmic-token-grey-a-400: var(--token-aNi5fDShaK4a);
  --token-PLyMGyXUgwD5: #616161;
  --plasmic-token-grey-a-700: var(--token-PLyMGyXUgwD5);
  --token-poAXUMdJT77f: rgba(17, 24, 39);
  --plasmic-token-text-primary: var(--token-poAXUMdJT77f);
  --token-_jP1NcMBhlOl: rgba(107, 114, 128);
  --plasmic-token-text-secondary: var(--token-_jP1NcMBhlOl);
  --token-zqVe8HEKkNZI: rgba(209, 213, 219);
  --plasmic-token-text-disabled: var(--token-zqVe8HEKkNZI);
  --token-BZblITjVV2i-: #fff;
  --plasmic-token-background-paper: var(--token-BZblITjVV2i-);
  --token-ZbLQHPqEo54R: rgba(249, 250, 251);
  --plasmic-token-background-default: var(--token-ZbLQHPqEo54R);
  --token-D0agF2uAIt2b: rgba(17, 24, 39, 0.54);
  --plasmic-token-action-active: var(--token-D0agF2uAIt2b);
  --token-n3drMFKmWYte: rgba(17, 24, 39, 0.04);
  --plasmic-token-action-hover: var(--token-n3drMFKmWYte);
  --token-Ron-2LpnKM8Z: 4%;
  --plasmic-token-hover-opacity: var(--token-Ron-2LpnKM8Z);
  --token-mZzC9xR3NJs8: rgba(17, 24, 39, 0.08);
  --plasmic-token-action-selected: var(--token-mZzC9xR3NJs8);
  --token-lrKmkJYVj2AQ: 8%;
  --plasmic-token-selected-opacity: var(--token-lrKmkJYVj2AQ);
  --token-Z_wZOvkDy3vs: rgba(17, 24, 39, 0.26);
  --plasmic-token-action-disabled: var(--token-Z_wZOvkDy3vs);
  --token-bDhMyJwBPdPB: rgba(17, 24, 39, 0.12);
  --plasmic-token-action-disabled-background: var(--token-bDhMyJwBPdPB);
  --token-Wc1ej6mlasKQ: 38%;
  --plasmic-token-disabled-opacity: var(--token-Wc1ej6mlasKQ);
  --token-Ak7dw_sTAwU1: rgba(17, 24, 39, 0.12);
  --plasmic-token-action-focus: var(--token-Ak7dw_sTAwU1);
  --token-9KQbuoHE1oIP: 12%;
  --plasmic-token-focus-opacity: var(--token-9KQbuoHE1oIP);
  --token-OBwsS0Ck0a_N: 12%;
  --plasmic-token-activated-opacity: var(--token-OBwsS0Ck0a_N);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-AaAEQF3pW20im_font-family: "Inter", sans-serif;
  --mixin-AaAEQF3pW20im_font-size: 16px;
  --mixin-AaAEQF3pW20im_font-weight: 400;
  --mixin-AaAEQF3pW20im_font-style: normal;
  --mixin-AaAEQF3pW20im_color: #535353;
  --mixin-AaAEQF3pW20im_text-align: left;
  --mixin-AaAEQF3pW20im_text-transform: none;
  --mixin-AaAEQF3pW20im_line-height: 1.5;
  --mixin-AaAEQF3pW20im_letter-spacing: normal;
  --mixin-AaAEQF3pW20im_white-space: pre-wrap;
  --mixin-AaAEQF3pW20im_user-select: text;
  --mixin-AaAEQF3pW20im_text-decoration-line: none;
  --mixin-AaAEQF3pW20im_text-overflow: clip;
  --mixin-aPWcjdxXwHGqM_color: #000000;
  --mixin-aPWcjdxXwHGqM_font-weight: 700;
  --mixin-aPWcjdxXwHGqM_font-size: 64px;
  --mixin-aPWcjdxXwHGqM_line-height: 1;
  --mixin-aPWcjdxXwHGqM_letter-spacing: -1px;
  --mixin-aPWcjdxXwHGqM_white-space: pre-wrap;
  --mixin-bMjtFMC23S1MJ_color: #000000;
  --mixin-bMjtFMC23S1MJ_font-size: 48px;
  --mixin-bMjtFMC23S1MJ_font-weight: 700;
  --mixin-bMjtFMC23S1MJ_letter-spacing: -0.5px;
  --mixin-bMjtFMC23S1MJ_line-height: 1.1;
  --mixin-bMjtFMC23S1MJ_white-space: pre-wrap;
  --mixin-7uXv0djYBebrg_color: #0070f3;
  --mixin-7uXv0djYBebrg_white-space: pre-wrap;
  --mixin-nsT999016RFjV_color: #000000;
  --mixin-nsT999016RFjV_font-size: 32px;
  --mixin-nsT999016RFjV_font-weight: 600;
  --mixin-nsT999016RFjV_line-height: 1.2;
  --mixin-nsT999016RFjV_white-space: pre-wrap;
  --mixin--nUlnBKJ-ZGlH_color: #000000;
  --mixin--nUlnBKJ-ZGlH_font-size: 24px;
  --mixin--nUlnBKJ-ZGlH_font-weight: 600;
  --mixin--nUlnBKJ-ZGlH_letter-spacing: -0.5px;
  --mixin--nUlnBKJ-ZGlH_line-height: 1.3;
  --mixin--nUlnBKJ-ZGlH_white-space: pre-wrap;
  --mixin-9Dx3mmDQV--QZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9Dx3mmDQV--QZ_border-bottom-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-bottom-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-bottom-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-left-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-left-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-left-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-right-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-right-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-right-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-top-color: #dddddd;
  --mixin-9Dx3mmDQV--QZ_border-top-style: solid;
  --mixin-9Dx3mmDQV--QZ_border-top-width: 1px;
  --mixin-9Dx3mmDQV--QZ_border-bottom-left-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_border-bottom-right-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_border-top-left-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_border-top-right-radius: 3px;
  --mixin-9Dx3mmDQV--QZ_font-family: "Inconsolata";
  --mixin-9Dx3mmDQV--QZ_padding-bottom: 1px;
  --mixin-9Dx3mmDQV--QZ_padding-left: 4px;
  --mixin-9Dx3mmDQV--QZ_padding-right: 4px;
  --mixin-9Dx3mmDQV--QZ_padding-top: 1px;
  --mixin-9Dx3mmDQV--QZ_white-space: pre-wrap;
  --mixin-ExpH7DmWwscpn_border-left-color: #dddddd;
  --mixin-ExpH7DmWwscpn_border-left-style: solid;
  --mixin-ExpH7DmWwscpn_border-left-width: 3px;
  --mixin-ExpH7DmWwscpn_color: #888888;
  --mixin-ExpH7DmWwscpn_padding-left: 10px;
  --mixin-ExpH7DmWwscpn_white-space: pre-wrap;
  --mixin-ByBFEEpx6CmcS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ByBFEEpx6CmcS_border-bottom-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-bottom-style: solid;
  --mixin-ByBFEEpx6CmcS_border-bottom-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-left-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-left-style: solid;
  --mixin-ByBFEEpx6CmcS_border-left-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-right-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-right-style: solid;
  --mixin-ByBFEEpx6CmcS_border-right-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-top-color: #dddddd;
  --mixin-ByBFEEpx6CmcS_border-top-style: solid;
  --mixin-ByBFEEpx6CmcS_border-top-width: 1px;
  --mixin-ByBFEEpx6CmcS_border-bottom-left-radius: 3px;
  --mixin-ByBFEEpx6CmcS_border-bottom-right-radius: 3px;
  --mixin-ByBFEEpx6CmcS_border-top-left-radius: 3px;
  --mixin-ByBFEEpx6CmcS_border-top-right-radius: 3px;
  --mixin-ByBFEEpx6CmcS_font-family: "Inconsolata";
  --mixin-ByBFEEpx6CmcS_padding-bottom: 3px;
  --mixin-ByBFEEpx6CmcS_padding-left: 6px;
  --mixin-ByBFEEpx6CmcS_padding-right: 6px;
  --mixin-ByBFEEpx6CmcS_padding-top: 3px;
  --mixin-ByBFEEpx6CmcS_white-space: pre-wrap;
  --mixin-yRj2WJ-FLOjQc_display: flex;
  --mixin-yRj2WJ-FLOjQc_flex-direction: column;
  --mixin-yRj2WJ-FLOjQc_align-items: stretch;
  --mixin-yRj2WJ-FLOjQc_justify-content: flex-start;
  --mixin-yRj2WJ-FLOjQc_list-style-position: outside;
  --mixin-yRj2WJ-FLOjQc_padding-left: 40px;
  --mixin-yRj2WJ-FLOjQc_position: relative;
  --mixin-yRj2WJ-FLOjQc_list-style-type: disc;
  --mixin-yRj2WJ-FLOjQc_white-space: pre-wrap;
  --mixin-JmynVzTtUZvWd_display: flex;
  --mixin-JmynVzTtUZvWd_flex-direction: column;
  --mixin-JmynVzTtUZvWd_align-items: stretch;
  --mixin-JmynVzTtUZvWd_justify-content: flex-start;
  --mixin-JmynVzTtUZvWd_list-style-position: outside;
  --mixin-JmynVzTtUZvWd_padding-left: 40px;
  --mixin-JmynVzTtUZvWd_position: relative;
  --mixin-JmynVzTtUZvWd_list-style-type: decimal;
  --mixin-JmynVzTtUZvWd_white-space: pre-wrap;
  --mixin-vKwu4_ycW8J41_color: #000000;
  --mixin-vKwu4_ycW8J41_font-size: 20px;
  --mixin-vKwu4_ycW8J41_font-weight: 600;
  --mixin-vKwu4_ycW8J41_letter-spacing: -0.3px;
  --mixin-vKwu4_ycW8J41_line-height: 1.5;
  --mixin-vKwu4_ycW8J41_white-space: pre-wrap;
  --mixin-r0W7sWUpVVWV5_color: #000000;
  --mixin-r0W7sWUpVVWV5_font-size: 16px;
  --mixin-r0W7sWUpVVWV5_font-weight: 600;
  --mixin-r0W7sWUpVVWV5_line-height: 1.5;
  --mixin-r0W7sWUpVVWV5_white-space: pre-wrap;
  --mixin-WcrsmoqEQBYPo_color: #3291ff;
  --mixin-WcrsmoqEQBYPo_white-space: pre-wrap;
  --mixin-rBteNYDt82Dhm_white-space: pre-wrap;
  --mixin-1D6hhln6iRwY3_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-AaAEQF3pW20im_font-family);
  font-size: var(--mixin-AaAEQF3pW20im_font-size);
  font-weight: var(--mixin-AaAEQF3pW20im_font-weight);
  font-style: var(--mixin-AaAEQF3pW20im_font-style);
  color: var(--mixin-AaAEQF3pW20im_color);
  text-align: var(--mixin-AaAEQF3pW20im_text-align);
  text-transform: var(--mixin-AaAEQF3pW20im_text-transform);
  line-height: var(--mixin-AaAEQF3pW20im_line-height);
  letter-spacing: var(--mixin-AaAEQF3pW20im_letter-spacing);
  white-space: var(--mixin-AaAEQF3pW20im_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-aPWcjdxXwHGqM_color);
  font-weight: var(--mixin-aPWcjdxXwHGqM_font-weight);
  font-size: var(--mixin-aPWcjdxXwHGqM_font-size);
  line-height: var(--mixin-aPWcjdxXwHGqM_line-height);
  letter-spacing: var(--mixin-aPWcjdxXwHGqM_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-bMjtFMC23S1MJ_color);
  font-size: var(--mixin-bMjtFMC23S1MJ_font-size);
  font-weight: var(--mixin-bMjtFMC23S1MJ_font-weight);
  letter-spacing: var(--mixin-bMjtFMC23S1MJ_letter-spacing);
  line-height: var(--mixin-bMjtFMC23S1MJ_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-7uXv0djYBebrg_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-nsT999016RFjV_color);
  font-size: var(--mixin-nsT999016RFjV_font-size);
  font-weight: var(--mixin-nsT999016RFjV_font-weight);
  line-height: var(--mixin-nsT999016RFjV_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--nUlnBKJ-ZGlH_color);
  font-size: var(--mixin--nUlnBKJ-ZGlH_font-size);
  font-weight: var(--mixin--nUlnBKJ-ZGlH_font-weight);
  letter-spacing: var(--mixin--nUlnBKJ-ZGlH_letter-spacing);
  line-height: var(--mixin--nUlnBKJ-ZGlH_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9Dx3mmDQV--QZ_font-family);
  border-radius: var(--mixin-9Dx3mmDQV--QZ_border-top-left-radius)
    var(--mixin-9Dx3mmDQV--QZ_border-top-right-radius)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-right-radius)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-left-radius);
  padding: var(--mixin-9Dx3mmDQV--QZ_padding-top)
    var(--mixin-9Dx3mmDQV--QZ_padding-right)
    var(--mixin-9Dx3mmDQV--QZ_padding-bottom)
    var(--mixin-9Dx3mmDQV--QZ_padding-left);
  border-top: var(--mixin-9Dx3mmDQV--QZ_border-top-width)
    var(--mixin-9Dx3mmDQV--QZ_border-top-style)
    var(--mixin-9Dx3mmDQV--QZ_border-top-color);
  border-right: var(--mixin-9Dx3mmDQV--QZ_border-right-width)
    var(--mixin-9Dx3mmDQV--QZ_border-right-style)
    var(--mixin-9Dx3mmDQV--QZ_border-right-color);
  border-bottom: var(--mixin-9Dx3mmDQV--QZ_border-bottom-width)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-style)
    var(--mixin-9Dx3mmDQV--QZ_border-bottom-color);
  border-left: var(--mixin-9Dx3mmDQV--QZ_border-left-width)
    var(--mixin-9Dx3mmDQV--QZ_border-left-style)
    var(--mixin-9Dx3mmDQV--QZ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ExpH7DmWwscpn_color);
  padding-left: var(--mixin-ExpH7DmWwscpn_padding-left);
  border-left: var(--mixin-ExpH7DmWwscpn_border-left-width)
    var(--mixin-ExpH7DmWwscpn_border-left-style)
    var(--mixin-ExpH7DmWwscpn_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ByBFEEpx6CmcS_font-family);
  border-radius: var(--mixin-ByBFEEpx6CmcS_border-top-left-radius)
    var(--mixin-ByBFEEpx6CmcS_border-top-right-radius)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-right-radius)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-left-radius);
  padding: var(--mixin-ByBFEEpx6CmcS_padding-top)
    var(--mixin-ByBFEEpx6CmcS_padding-right)
    var(--mixin-ByBFEEpx6CmcS_padding-bottom)
    var(--mixin-ByBFEEpx6CmcS_padding-left);
  border-top: var(--mixin-ByBFEEpx6CmcS_border-top-width)
    var(--mixin-ByBFEEpx6CmcS_border-top-style)
    var(--mixin-ByBFEEpx6CmcS_border-top-color);
  border-right: var(--mixin-ByBFEEpx6CmcS_border-right-width)
    var(--mixin-ByBFEEpx6CmcS_border-right-style)
    var(--mixin-ByBFEEpx6CmcS_border-right-color);
  border-bottom: var(--mixin-ByBFEEpx6CmcS_border-bottom-width)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-style)
    var(--mixin-ByBFEEpx6CmcS_border-bottom-color);
  border-left: var(--mixin-ByBFEEpx6CmcS_border-left-width)
    var(--mixin-ByBFEEpx6CmcS_border-left-style)
    var(--mixin-ByBFEEpx6CmcS_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-yRj2WJ-FLOjQc_display);
  flex-direction: var(--mixin-yRj2WJ-FLOjQc_flex-direction);
  align-items: var(--mixin-yRj2WJ-FLOjQc_align-items);
  justify-content: var(--mixin-yRj2WJ-FLOjQc_justify-content);
  list-style-position: var(--mixin-yRj2WJ-FLOjQc_list-style-position);
  padding-left: var(--mixin-yRj2WJ-FLOjQc_padding-left);
  position: var(--mixin-yRj2WJ-FLOjQc_position);
  list-style-type: var(--mixin-yRj2WJ-FLOjQc_list-style-type);
  flex-column-gap: var(--mixin-yRj2WJ-FLOjQc_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JmynVzTtUZvWd_display);
  flex-direction: var(--mixin-JmynVzTtUZvWd_flex-direction);
  align-items: var(--mixin-JmynVzTtUZvWd_align-items);
  justify-content: var(--mixin-JmynVzTtUZvWd_justify-content);
  list-style-position: var(--mixin-JmynVzTtUZvWd_list-style-position);
  padding-left: var(--mixin-JmynVzTtUZvWd_padding-left);
  position: var(--mixin-JmynVzTtUZvWd_position);
  list-style-type: var(--mixin-JmynVzTtUZvWd_list-style-type);
  flex-column-gap: var(--mixin-JmynVzTtUZvWd_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-vKwu4_ycW8J41_color);
  font-size: var(--mixin-vKwu4_ycW8J41_font-size);
  font-weight: var(--mixin-vKwu4_ycW8J41_font-weight);
  letter-spacing: var(--mixin-vKwu4_ycW8J41_letter-spacing);
  line-height: var(--mixin-vKwu4_ycW8J41_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-r0W7sWUpVVWV5_color);
  font-size: var(--mixin-r0W7sWUpVVWV5_font-size);
  font-weight: var(--mixin-r0W7sWUpVVWV5_font-weight);
  line-height: var(--mixin-r0W7sWUpVVWV5_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-WcrsmoqEQBYPo_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
